:root {
    --dark-background-color: #1f2937;
    --button-color: #3882f6;
    --quote-section-background: #e5e7eb;
    --hero-main-text-color: #f9faf8;
    --hero-secondary-text-color: #e5e7eb;
    --default-padding: 10vw;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-background-color);
    padding: 1vh var(--default-padding);
}
nav h1 {
    color: var(--hero-main-text-color);
    font-size: 24px;
}

.links-list {
    list-style: none;
    display: flex;
    gap: 18px;
}

.links-list li{
    color: var(--hero-main-text-color);
    font-size: 18px;
}

main header {
    background-color: var(--dark-background-color);
    color: var(--hero-main-text-color);
    padding: 8vh var(--default-padding);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text-container h1{
    font-size: 48px;
    font-weight: 900;
    margin-top: -10px
}
.text-container p {
    font-size: 18px;
    color: var(--hero-secondary-text-color);
}
.text-container button {
    background-color: var(--button-color);
    color: var(--hero-secondary-text-color);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}
main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    padding:  5vh var(--default-padding) 10vh;
    
}

article h1 {
    font-size: 36px;
}

.images-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.images-div figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    
}
.images-div figure img {
    border: solid 4px var(--button-color);
    /* overflow: hidden; */
    border-radius: 10px;
    width: 200px;
    /* flex-grow: 1; */
}
.images-div figure figcaption {
    /* flex-grow: 0; */
    /* flex-shrink: 1; */
    width: 50%;
    text-align: center;
    color: var(--dark-background-color);
    font-size: 18px;
}
aside {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hero-secondary-text-color)
}
main aside blockquote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: var(--dark-background-color);
    padding: var(--default-padding) var(--default-padding);
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh var(--default-padding)
}

.card {
    width: 100%;
    background-color: var(--button-color);
    padding: 5vh 10vh;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--hero-secondary-text-color);
}

.card button {
    background-color: var(--button-color);
    color: var(--hero-secondary-text-color);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    border: 2px solid white;
}
.bold {
    font-weight: bold;
}